<div class="container">
  <div class="card bg-light">
    <div class="card-body">
      <h4>Title</h4>
      <div class="body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
        <a routerLink="/blog/id" class="btn-link">Read More</a>
      </div>
      <div class="detail">
        <p class="text-info">Author:- Karan</p>
        <p class="text-primary">26 Feb 2020 05:01 PM</p>
      </div>
      <div class="tags">
        <button type="button" class="btn btn-outline-info btn-sm">Stories</button>
        <button type="button" class="btn btn-outline-info btn-sm">Story</button>
      </div>
    </div>
  </div>
</div>
